@tailwind base;
@tailwind components;
@tailwind utilities;


/* custom  */

body {
  font-family: Arial, Helvetica, sans-serif;
}

.btn.add{
  display: flex;
  padding: 8px;
  background-color: #3ad98c;
  font-weight: 600;
  color: white;
  gap: 4px;
  border-radius: 8px;
}

.btn{
  border-radius: 8px;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  border: none;
  outline: none;
  display: flex;  
  gap: 4px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  background-color: var(--primary);
  width: 100px;
  color: #dfdfdf;
  padding: 4px 8px;
  font-weight: 600;
}

.btn:hover {
  transform: scale(1.02); 
}

.btn label:hover{
  cursor:pointer;
} 

.btn:active {
  transform: scale(1); 
}

.btn.add{
  width: auto;
  padding: 8px 8px;
}

.btn.signin{
  background-color: transparent;
  border: 2px solid var(--primary);
}

.btn.add:hover{
  background-color: #37d388;

}

.btn.signin:hover{
  background-color: #0c83de;
  background-color: #0c83de;


}

.btn.modal.close{
  width: 50px;
}