@tailwind base;
@tailwind components;
@tailwind utilities;


/* custom  */

body {
  font-family: Arial, Helvetica, sans-serif;
}

.btn{
  border-radius: 8px;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  border: none;
  outline: none;
  display: flex;  
  gap: 4px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  width: 100px;
  color: #dfdfdf;
  padding: 8px 8px;
  font-weight: 600;
}

.btn:hover {
  transform: scale(1.02); 
}

.btn label:hover{
  cursor:pointer;
} 

.btn:active {
  transform: scale(1); 
}
/* modal close  */

.btn.modal.close{
  width: 50px;
}

/* add button  */

.btn.add,.btn.confirm,.btn.cancel{
  width:auto;
  background-color: #3ad98c;
  font-weight: 600;
  color: white;
}

.btn.add:hover{
  background-color: #37d388;
}

.btn.confirm{
  background-color: #37d388;
}

.btn.confirm:hover{
  background-color: #22d37d;
}


.btn.cancel{
  background-color: #e5413c;
}

.btn.cancel:hover{
  background-color: #ec1f18;
}

